.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.serif-text {
  font-family: "Noto Serif", "Times New Roman", serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__logo {
  position: relative;
  width: 105px;
  height: 39px;
  top: 30px;
  left: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 30px 80px 0 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.header__title {
  position: relative;
  left: 80px;
  max-width: 709px;
  margin: 0;
  margin-top: 183px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  display: block;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  position: relative;
  left: 80px;
  max-width: 683px;
  margin: 0;
  margin-top: 28px;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  position: absolute;
  left: 80px;
  bottom: 40px;
}

.header__paragraph {
  font-weight: 500;
  color: #838383;
  margin: 0;
}

.header__paragraph_position_right {
  position: absolute;
  right: 80px;
  bottom: 40px;
}

.recipes {
  display: flex;
  flex-direction: column;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  margin-top: 100px;
  margin-left: 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 80px;
  margin-bottom: 215px;
  column-gap: 40px;
}

.recipes__video-item {
  max-width: 480px;
  height: 273px;
}

.recipes__iframe {
  display: flex;
  position: relative;
  width: 480px;
  height: 273px;
}

.no-border {
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin: 0 auto 80px;
  padding-top: 100px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0;
  margin-bottom: 120px;
}

.form {
  max-width: 385px;
  width: 100%;
}

.form__fieldset {
  padding: 0;
  border: none;
}

.form__label {
  display: block;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
}

.form__input {
  border-radius: 4px;
  border: #838383;
  width: 100%;
  height: 60px;
  padding: 15px 20px;
  margin-bottom: 32px;
  box-sizing: border-box;
}

.form__input::placeholder {
  margin: 15px 20px;
  color: #838383;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  max-width: 385px;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: none;
  margin-bottom: 32px;
  opacity: 1;
  background-color: #2f80ed;
  color: #ffffff;
  font-weight: 500;
}

.form__button:hover {
  opacity: 0.7;
}

.form__terms {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
}

.form__label_type_terms {
  margin: 0;
}
